[Unit]
Description=Execute any command and send the output to web services
Documentation=https://github.com/wmariuss/runs.git

[Service]
User=root
Type=simple
ExecStart=pipenv run bash start.sh
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
