[Unit]
Description=Execute any command and send the output to web services
Documentation=https://github.com/wmariuss/runs.git
After=network.target

[Service]
User=mariuss
Group=mariuss
Type=simple
WorkingDirectory=/opt/runs
ExecStartPre=/usr/local/bin/pipenv install
ExecStart=/usr/local/bin/pipenv run bash start.sh local
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
